<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://andywang1908.github.io/images/Dragonfruit.ipa</string>
		<key>displayImageURL</key>
		<string>https://andywang1908.github.io/images/if_Newsvine_57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://andywang1908.github.io/images/if_Newsvine_512.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>ca.on.gsic.wallet</key>
		<string>wallet init adhoc</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>KHPHSV9UVD</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
